{% extends 'dashboard/base.html' %}
{% block content %}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">                                    
                        <div class="page-title-right">
                            <form class="d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-light" id="dash-daterange">
                                    <span class="input-group-text bg-primary border-primary text-white">
                                        <i class="mdi mdi-calendar-range font-13"></i>
                                    </span>
                                </div>
                                <a href="javascript: void(0);" class="btn btn-primary ms-2">
                                    <i class="mdi mdi-autorenew"></i>
                                </a>
                                <a href="javascript: void(0);" class="btn btn-primary ms-1">
                                    <i class="mdi mdi-filter-variant"></i>
                                </a>
                            </form>
                        </div>
                        <h4 class="page-title">AboutUs kiritilgan Ma'lumotlar</h4>
                    </div>
                </div>
            </div>
           
            <div class="tab-content">
                <div class="tab-pane active show" id="striped-rows-preview" role="tabpanel">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kiritilgan ma'lumot</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aboutus in aboutus %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ aboutus.body }}</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"><i class="mdi mdi-pencil"></i></a>
                                        <a href="javascript: void(0);" class="action-icon"><i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->                     
                </div> <!-- end preview-->
            
               
            </div>
            </div>
            

    </div>
    <!-- content -->

   

</div>

{% endblock %} 